In [1]:
!pip install names

Collecting names
  Downloading https://files.pythonhosted.org/packages/44/4e/f9cb7ef2df0250f4ba3334fbdabaa94f9c88097089763d8e85ada8092f84/names-0.3.0.tar.gz (789kB)
     |████████████████████████████████| 798kB 8.5MB/s eta 0:00:01
Installing collected packages: names
  Running setup.py install for names ... done
Successfully installed names-0.3.0
WARNING: You are using pip version 19.2.3, however version 24.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import pandas as pd
import names as nm
import random

## Synthetic dataset

In [3]:
def get_names(is_first_name, amount):
  names = []
  while len(names) < amount:
    name = nm.get_first_name() if is_first_name else nm.get_last_name()
    if name not in names:
      names.append(name)
  return names
   
first_names = get_names(True, 100)
last_names = get_names(False, 400)
first_names[:5], last_names[:5]

(['Suzanne', 'Ty', 'Keith', 'Rufina', 'Dorothy'],
 ['Spiegler', 'Limberg', 'Clemons', 'Zuleger', 'West'])

In [4]:
all_jurisdictions = ['Australia', 'Belgium', 'Brazil', 'Bulgaria', 'Cyprus', 'Czech Republic',
                  'Guatemala', 'Mexico', 'Honduras', 'Costa Rica', 'Colombia', 'Greece', 'Hungary',
                  'India', 'Indonesia', 'Ireland', 'Italy', 'Syria', 'Japan', 'Latvia', 'Lithuania',
                  'Luxembourg', 'Malta', 'Jamaica', 'Ireland', 'Turkey', 'United Kingdom',
                  'United States']

In [5]:
def generate_people_dataset(num):
  data = []
  for _ in range(num):
    data.append((random.choice(first_names),random.choice(last_names), random.choice(all_jurisdictions)))
  return pd.DataFrame(data, columns=['first_name', 'last_name', 'country'])

df_people = generate_people_dataset(500)
df_people

    first_name  last_name        country
0          Amy  Logiudice         Brazil
1       Daniel   Gallegos        Ireland
2       Rufina       Ozga         Brazil
3        James      Porat      Guatemala
4       Robert   Thompson         Turkey
..         ...        ...            ...
495      Randy     Moxley  United States
496       Lisa      Crews         Turkey
497    Suzanne   Campbell         Mexico
498       Kaye     Lukach       Bulgaria
499      Peggy     Wisdom        Ireland

[500 rows x 3 columns]

## Creating features for KYC synthetic dataset

In [6]:
# to track relatives if money laundering goes through them too
famous_money_laundering_lastnames = last_names[:30]
famous_money_laundering_lastnames

['Spiegler',
 'Limberg',
 'Clemons',
 'Zuleger',
 'West',
 'Brewington',
 'Shaw',
 'Butcher',
 'Stahlhut',
 'Eberhard',
 'Guzma',
 'Zurita',
 'Mcbeth',
 'Channell',
 'Mayer',
 'Lewandowski',
 'Dakins',
 'Short',
 'Jarrett',
 'Icardo',
 'Cardinal',
 'Garmon',
 'Haifley',
 'Sample',
 'Johnson',
 'Arbeiter',
 'Cole',
 'Strand',
 'Bradshaw',
 'Lingenfelter']

In [7]:
# Random example of prohibited jurisdictions for specific event
prohibited_jurisdictions = ['United States', 'Syria']

In [9]:
def random_bool_with(percentage):
  return random.randint(1, 100) < percentage

def generate_feature_dataset():
  data = []
  for i, row in df_people.iterrows():
    pass_kyc = True
    features = {}

    # Money launderer's namesake could potentially be his relative
    # 돈 세탁으로 유명한 성을 가진 가문일 경우 
    features['possible_relative_for_money_laundering'] = (row['last_name'] in famous_money_laundering_lastnames)
    if features['possible_relative_for_money_laundering']:
      pass_kyc &= random_bool_with(percentage=60)

    # 거부 관할권 국가인지 확인
    # If a person is from a prohibited jurisdiction for this event, then KYC fails
    features['is_prohibited_jurisdiction'] = (row['country'] in prohibited_jurisdictions)
    if features['is_prohibited_jurisdiction']:
      pass_kyc = False

    # Using a VPN to hide your true jurisdiction is suspect
    features['with_vpn'] = random_bool_with(percentage=20)
    if features['with_vpn']:
      pass_kyc &= random_bool_with(percentage=85)

    # If a large amount of time is spent on KYC, it is suspicious
    # Also, if the sending time is close to zero, then it is possible bot/script
    features['sending_time_sec'] = random.randint(0, 200)
    if features['sending_time_sec'] > 160:
      pass_kyc &= random_bool_with(percentage=70)
    if features['sending_time_sec'] < 5:
      pass_kyc &= random_bool_with(percentage=10)

    # If the photo of the document is perfect quality,
    # then there is a high probability of a pre-prepared photo using virtual camera
    features['photo_quality'] = random.randint(0, 10)
    if features['photo_quality'] == 10:
      pass_kyc &= random_bool_with(percentage=10)

    
    features['pass_kyc'] = pass_kyc
    data.append(features)
  return pd.DataFrame(data)

df = generate_feature_dataset()
df

,possible_relative_for_money_laundering,is_prohibited_jurisdiction,with_vpn,sending_time_sec,photo_quality,pass_kyc
0,False,False,False,108,6,True
1,False,False,True,9,7,True
2,False,False,False,46,3,True
3,False,False,False,58,10,False
4,False,False,True,131,6,True
...,...,...,...,...,...,...
495,False,True,False,144,5,False
496,False,False,False,132,1,True
497,False,False,False,82,0,True
498,False,False,False,76,2,True
499,False,False,False,99,0,True

## Train Model(DecisionTreeClassifier) using features from our synthetic dataset

In [10]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

y = df['pass_kyc']
X = df.drop(columns=['pass_kyc'])
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
len(x_train), len(x_test)

(400, 100)

In [11]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train, y_train)

In [12]:
y_pred = clf.predict(x_test)
print("f1-score:", f1_score(y_test, y_pred))

f1-score: 0.9411764705882352

## Converting DecisionTree model to Leo programming language

In [15]:
import numpy as np
import math
from sklearn import tree

def dt_to_leo_code(clf: tree.DecisionTreeClassifier, program_name: str):
  n_nodes = clf.tree_.node_count
  children_left = clf.tree_.children_left
  children_right = clf.tree_.children_right
  feature = clf.tree_.feature
  threshold = clf.tree_.threshold
  values = [np.argmax(value[0]) for value in clf.tree_.value]

  node_depth = np.zeros(shape=n_nodes, dtype=np.int64)
  is_leaves = np.zeros(shape=n_nodes, dtype=bool)
  stack = [(0, 0)] 
  while len(stack) > 0:
      node_id, depth = stack.pop()
      node_depth[node_id] = depth
      is_split_node = children_left[node_id] != children_right[node_id]
      if is_split_node:
          stack.append((children_left[node_id], depth + 1))
          stack.append((children_right[node_id], depth + 1))
      else:
          is_leaves[node_id] = True


  def build_code(i):
    if is_leaves[i]:
      return node_depth[i] * "\t" + f"return {values[i]}u32;\n"
    leo_code = ""
    leo_threshold = math.ceil(threshold[i])
    comp = "<" if int(threshold[i]) != threshold[i] else "<="
    leo_code += node_depth[i] * "\t" + f"if (p{(feature[i] + 1)} {comp} {leo_threshold}u32) {{\n"
    leo_code += build_code(children_left[i])
    leo_code += node_depth[i] * "\t" + "} else {\n"
    leo_code += build_code(children_right[i])
    leo_code += node_depth[i] * "\t" + "}\n" 
    return leo_code

  leo_code = f"program {program_name} {{\n" 
  leo_code += "\t" + "// Code auto generated from DecisionTreeClassifier using dt_to_leo_code.py \n"
  leo_code += "\t" + "transition main("
  for i in range(1, clf.n_features_in_ + 1):
    leo_code += f"p{i}: u32" + (", " if i != clf.n_features_in_ else ") -> public u32 {\n")

  node_depth += 2
  leo_code += build_code(0)
  leo_code += "\t}\n}" 
  return leo_code

print(dt_to_leo_code(clf, "dt.aleo"))

program dt.aleo {
	// Code auto generated from DecisionTreeClassifier using dt_to_leo_code.py
	transition main(p1: u32, p2: u32, p3: u32, p4: u32, p5: u32) -> public u32 {
		if (p5 < 10u32) {
			if (p2 < 1u32) {
				if (p1 < 1u32) {
					if (p4 < 5u32) {
						if (p5 < 6u32) {
							if (p4 < 1u32) {
								if (p3 < 1u32) {
									return 1u32;
								} else {
									return 0u32;
								}
							} else {
								return 0u32;
							}
						} else {
							if (p5 <= 7u32) {
								return 1u32;
							} else {
								if (p4 < 1u32) {
									if (p5 < 9u32) {
										return 0u32;
									} else {
										return 1u32;
									}
								} else {
									return 0u32;
								}
							}
						}
					} else {
						if (p4 < 180u32) {
							if (p3 < 1u32) {
								if (p4 < 162u32) {
									return 1u32;
								} else {
									if (p4 < 166u32) {
										if (p4 < 165u32) {
											if (p4 < 163u32) {
												return 0u32;
											} else {
												return 1u32;
											}
										} else {
											return 0u32;
										}
									} else {
										return 1u32;
									}
								}
							} else {
								if (p4 < 31u32) {
									if (p4 < 23u32) {
										if (p5 < 2u32) {
											if (p5 < 1u32) {
												return 1u32;
											} else {
												return 0u32;
											}
										} else {
											return 1u32;
										}
									} else {
										return 0u32;
									}
								} else {
									if (p5 < 7u32) {
										return 1u32;
									} else {
										if (p5 < 8u32) {
											return 0u32;
										} else {
											return 1u32;
										}
									}
								}
							}
						} else {
							if (p4 < 188u32) {
								if (p4 < 182u32) {
									if (p5 <= 4u32) {
										if (p5 < 3u32) {
											return 1u32;
										} else {
											return 0u32;
										}
									} else {
										return 1u32;
									}
								} else {
									if (p5 < 1u32) {
										return 1u32;
									} else {
										if (p4 < 185u32) {
											if (p5 < 7u32) {
												return 0u32;
											} else {
												if (p4 < 184u32) {
													return 1u32;
												} else {
													return 0u32;
												}
											}
										} else {
											if (p5 < 6u32) {
												if (p5 < 4u32) {
													if (p4 < 186u32) {
														return 1u32;
													} else {
														return 0u32;
													}
												} else {
													return 1u32;
												}
											} else {
												return 0u32;
											}
										}
									}
								}
							} else {
								if (p4 < 197u32) {
									if (p5 < 7u32) {
										return 1u32;
									} else {
										if (p5 < 8u32) {
											return 0u32;
										} else {
											return 1u32;
										}
									}
								} else {
									if (p4 < 199u32) {
										if (p5 < 2u32) {
											return 1u32;
										} else {
											if (p3 < 1u32) {
												if (p5 <= 5u32) {
													return 1u32;
												} else {
													return 0u32;
												}
											} else {
												return 0u32;
											}
										}
									} else {
										return 1u32;
									}
								}
							}
						}
					}
				} else {
					if (p4 < 27u32) {
						return 0u32;
					} else {
						if (p4 <= 46u32) {
							return 1u32;
						} else {
							if (p4 <= 64u32) {
								return 0u32;
							} else {
								if (p4 < 163u32) {
									if (p5 < 4u32) {
										if (p4 <= 89u32) {
											return 1u32;
										} else {
											return 0u32;
										}
									} else {
										if (p4 < 84u32) {
											return 0u32;
										} else {
											return 1u32;
										}
									}
								} else {
									if (p5 < 6u32) {
										return 1u32;
									} else {
										return 0u32;
									}
								}
							}
						}
					}
				}
			} else {
				return 0u32;
			}
		} else {
			if (p4 < 117u32) {
				if (p4 < 109u32) {
					return 0u32;
				} else {
					return 0u32;
				}
			} else {
				return 0u32;
			}
		}
	}
}